# {{ ansible_managed }}. Created on {{ template_run_date }}
# 
# See https://doc.powerdns.com/authoritative/settings.html

local-address={{ powerdns_addresses | join(', ') }}
local-port={{ powerdns_port }}

launch={{ powerdns_enabled_backends.keys() | join(',') }}

{% for backend, config in powerdns_enabled_backends.items() %}
{% for k, v in config.items() %}
{{ backend }}-{{ k | replace('_', '-') }}={{ v }}
{% endfor %}
{% endfor %}

dnsupdate={{ (powerdns_enable_dns_updates == true) | ternary('yes', 'no') }}

default-soa-edit={{ powerdns_default_soa_edit }}

allow-dnsupdate-from={{ powerdns_allow_dns_updates_from | join(',') }}

api={{ (powerdns_enable_api == true) | ternary('yes', 'no') }}
api-key={{ powerdns_api_key }}

webserver={{ (powerdns_enable_webserver == true) | ternary('yes', 'no') }}
webserver-address={{ powerdns_webserver_address }}
webserver-allow-from={{ powerdns_webserver_allow_from | join(', ') }}
webserver-password={{ powerdns_webserver_password }}
