{
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "node_name": "{{ consul_node_name }}",
  {% if consul_server == "true" %}
  "server": {{ consul_server }},
  "ui": true,
  "bootstrap": true,
  "advertise_addr": "{{ consul_advertise_addr }}",
  "client_addr": "{{ consul_client_addr }}",
  "encrypt": "{{ consul_encrypt }}",
  {% else %}
  "retry_join_wan": {{ consul_servers | to_json }},
  {% endif %}
  "acl_datacenter": "dc1",
  "acl_master_token": "{{ consul_acl_master_token }}",
  "acl_default_policy": "deny",
  "acl_down_policy": "deny"
}
