ui = true
disable_mlock = {{ vault_disable_mlock | to_json }}

storage "consul" {
  address = "127.0.0.1:8500"
  path = "vault/"
  token = "{{ vault_consul_token }}"
  {% if vault_consul_tls_ca_file %}
  tls_ca_file = "{{ vault_consul_tls_ca_file }}"
  {% endif %}
  {% if vault_consul_tls_cert_file %}
  tls_cert_file = "{{ vault_consul_tls_cert_file }}"
  {% endif %}
  {% if vault_consul_tls_key_file %}
  tls_key_file = "{{ vault_consul_tls_key_file }}"
  {% endif %}
}

listener "tcp" {
  address = "127.0.0.1:8200"
  tls_disable = "{{ vault_tls_disable | to_json }}"
}

listener "tcp" {
  address = "{{ vault_ip.stdout }}:8200"
  tls_disable = "{{ vault_tls_disable | to_json }}"
}

api_addr = "http://{{ vault_ip.stdout }}:8200"
cluster_addr = "http://{{ vault_ip.stdout }}:8201"
