datacenter = "{{ nomad_datacenter }}"
data_dir = "/opt/nomad"

client {
  enabled = true

{% if nomad_network_interface %}
  network_interface = "{{ nomad_network_interface }}"
{% endif %}

  server_join {
    retry_join = {{ nomad_retry_join | to_json }}
  }
}

consul {
  token = "{{ nomad_consul_token }}"
}
