[ req ]
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
CN={{ nomad_cert_common_name }}

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
{% for item in nomad_cert_subject_alt_names %}
{{ item }}
{% endfor %}

[ v3_ext ]
basicConstraints = critical, CA:FALSE
keyUsage = critical, keyEncipherment, digitalSignature
extendedKeyUsage = serverAuth, clientAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid
subjectAltName = @alt_names
