[Unit]
Description="HashiCorp Nomad - A flexible container orchestration tool"
Documentation=https://www.nomadproject.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/nomad.d/nomad.hcl

[Service]
{% if nomad_server %}
User=nomad
Group=nomad
{% endif %}

ExecStart=/usr/local/sbin/nomad agent -config=/etc/nomad.d/nomad.hcl
ExecReload=/usr/local/sbin/nomad reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
