# {{ ansible_managed }}. Created on {{ template_run_date }}
# 
# See https://doc.powerdns.com/recursor/settings.html

local-address={{ powerdns_recursor_addresses | join(', ') }}
allow-from={{ powerdns_recursor_allow_from | join(', ') }}

refresh-on-ttl-perc={{ powerdns_recursor_refresh_on_ttl_perc }}
