datacenter = "{{ consul_datacenter }}"
data_dir = "/opt/consul"
encrypt = "{{ consul_encrypt }}"
enable_syslog = {{ consul_enable_syslog | to_json }}

acl_datacenter = "{{ consul_datacenter }}"
acl_default_policy = "{{ consul_acl_default_policy }}"
acl_agent_token = "{{ consul_acl_agent_token }}"

bind_addr = {{ consul_bind_addr | to_json }}

{% if consul_advertise_addr %}
advertise_addr = {{ consul_advertise_addr | to_json }}
{% endif %}

retry_join = {{ consul_retry_join | to_json }}

connect {
  enabled = true
}
