# {{ ansible_managed }}. Created on {{ template_run_date }}

datacenter = "{{ consul_datacenter }}"
data_dir = "/opt/consul"
encrypt = "{{ consul_encrypt }}"
enable_syslog = {{ consul_enable_syslog | to_json }}

acl {
  enabled = true
  default_policy = "{{ consul_acl_default_policy }}"
}

primary_datacenter = "{{ consul_datacenter }}"

bind_addr = {{ consul_bind_addr | to_json }}

{% if consul_advertise_addr %}
advertise_addr = {{ consul_advertise_addr | to_json }}
{% endif %}

{% if consul_recursors %}
recursors = {{ consul_recursors | to_json }}
{% endif %}

retry_join = {{ consul_retry_join | to_json }}

{% if consul_ports %}
ports = {
{% for key, val in consul_ports.items() %}
    {{ key }} = {{ val }}
{% endfor %}
}
{% endif %}

verify_incoming = true
verify_outgoing = true
verify_server_hostname = true

ca_file = "/etc/consul.d/consul-agent-ca.pem"
cert_file = "/etc/consul.d/{{ consul_datacenter }}-client-consul-0.pem"
key_file = "/etc/consul.d/{{ consul_datacenter }}-client-consul-0-key.pem"
