[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/consul.d/{% if consul_server %}server.hcl{% else %}client.hcl{% endif %}


[Service]
User=consul
Group=consul
ExecStart=/usr/local/bin/consul agent -config-file=/etc/consul.d/{% if consul_server %}server.hcl{% else %}client.hcl{% endif %}

ExecReload=/usr/local/bin/consul reload
{% if consul_ports and consul_ports.dns is defined and consul_ports.dns < 1024 %}
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=yes{% endif %}

KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
