# {{ ansible_managed }}. Created on {{ template_run_date }}

server = true

primary_datacenter = "{{ consul_datacenter }}"

datacenter = "{{ consul_datacenter }}"

encrypt = "{{ consul_encrypt }}"

data_dir = "{{ consul_data_dir }}"

enable_syslog = {{ consul_enable_syslog | to_json }}

acl {
  tokens {
    initial_management = "{{ consul_acl_initial_management_token }}"
  } 
}

connect {
  enabled = {{ consul_connect_enabled | to_json }}
}

bootstrap_expect = {{ consul_bootstrap_expect }}
