datacenter = "{{ consul_datacenter }}"
data_dir = "/opt/consul"
encrypt = "{{ consul_encrypt }}"

acl_datacenter = "{{ consul_datacenter }}"
acl_default_policy = "{{ consul_acl_default_policy }}"
acl_master_token = "{{ consul_acl_master_token }}"
acl_agent_token = "{{ consul_acl_agent_token }}"

advertise_addr = "{{ consul_ip.stdout }}"

retry_join = {{ consul_retry_join | to_json }}

performance {
  raft_multiplier = 1
}

connect {
  enabled = true
}

server = true
bootstrap_expect = {{ consul_bootstrap_expect }}

ui = true
