# {{ ansible_managed }}. Created on {{ template_run_date }}
# 
# See https://github.com/NLnetLabs/unbound/blob/master/doc/example.conf.in

server:
	{% for interface in unbound_interfaces -%}
    interface: {{ interface }}
	{% endfor %}

	{% for acl in unbound_access_control -%}
    access-control: {{ acl }}
	{% endfor %}

	root-hints: "{{ unbound_root_hints }}"
	prefetch: {{ (unbound_prefetch == true) | ternary('yes', 'no') }}
	cache-min-ttl: {{ unbound_cache_min_ttl }}
	do-not-query-localhost: {{ (unbound_do_not_query_localhost == true) | ternary('yes', 'no') }}

	{% for domain in unbound_insecure_domains -%}
    domain-insecure: "{{ domain }}"
	{% endfor %}

	{% if unbound_protect_against_dns_rebinding -%}
	{% for addr in unbound_private_address -%}
    private-address: {{ addr }}
	{% endfor %}
	{% endif -%}

	{% if unbound_block_ad_domains -%}
	{% for domain in unbound_blocked_ad_domains -%}
	local-zone: "{{ domain }}" redirect
	local-data: "{{ domain }} A 127.0.0.1"
	{% endfor %}
	{% endif -%}

	{% for domain in unbound_private_domains -%}
	private-domain: "{{ domain }}"
	{% endfor %}

	{% for zone in unbound_local_zones -%}
	local-zone: "{{ zone.name }}" {{ zone.type }}
	{% endfor %}

	{% for item in unbound_local_data -%}
	local-data: "{{ item.name }} IN {{ item.type | default('A') }} {{ item.value }}"
	local-data-ptr: "{{ item.value }} {{ item.name[:-1] }}"
	{% endfor %}

{% for zone in unbound_stub_zones -%}
stub-zone:
	name: "{{ zone.name }}"
	{% if zone.addr is string -%}
	stub-addr: {{ zone.addr }}
	{% else -%}
	{% for addr in zone.addr -%}
	stub-addr: {{ addr }}
	{% endfor -%}
	{% endif -%}
	stub-no-cache: {{ (zone.no_cache == true) | ternary('yes', 'no') }}
{% endfor %}
